/build
/lake-packages/*
/.lake/
blueprint/print
blueprint/web
blueprint/build
blueprint/__pycache__
*.pdf
*.bbl
*.blg
*.paux
*.log
*.aux
*.out
*.fdb_latexmk
*.fls
*.synctex
*.synctex.gz
*.xdv
*.maf
*.mtc
*.mtc0